<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User :: Event Maker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.png' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
    <%= stylesheet_link_tag 'users/application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $.fn.bsmodal = $.fn.modal.noConflict();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <%= javascript_include_tag 'users/application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
  </head>
  <body>
  
    <%= render "users/layouts/header" %>
    <%= yield %>
    <%= render "users/layouts/footer" %>

    <div class="pre-loader"></div>

    <script type="text/javascript">
      $(window).load(function() {
        $(".pre-loader").fadeOut(500);
      });
    </script>

    <% unless flash.empty? %>
      <script type="text/javascript">
        jQuery(document).ready(function($) {
          <% flash.each do |key, value| %>
            new PNotify({
                text: '<%= value %>',
                addclass: 'notice-<%= key %>',
                animate: {
                  animate: true,
                  in_class: 'rotateInDownLeft',
                  out_class: 'rotateOutUpRight'
                },
                icon: false
            });
          <% end %>
        });
      </script>
    <% end %>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1790971644533974',
          xfbml      : true,
          version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

  </body>
</html>
