<div class="user-wrapper">
  <div class="user-profile-screen">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="user-profile">
            <% if @user == current_user %>
              <%= link_to "#", class: "link-edit-user-information no-outline", data: { toggle: 'modal', target: '#editUserInformationModal' } do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
            <% end %>
            <div class="user-avatar">
              <% if @user == current_user %>
                <a href="#" id="userAvatarBox" data-toggle="modal" data-target="#editUserAvatarModal" class="edit-user-avatar no-outline">
                  <%= avatar_for @user %>
                </a>
              <% else %>
                <%= avatar_for @user %>
              <% end %>
            </div>
            <div id="userInformationComboBox">
              <%= render 'user_information_show', user_target: @user %>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="profile-container">
            <div class="status-block">
              <div class="table-panel">
                <div class="table-child ver-mid status-label">
                  You are currently
                </div>
                <div class="table-child ver-mid">
                  <% if current_user.acc_state == "pro" %>
                    <button type="button" class="btn account-status-button button-pro">
                      <i class="fa fa-diamond" aria-hidden="true"></i> Professional account
                    </button>
                  <% elsif current_user.acc_state == "plus" %>
                    <button type="button" class="btn account-status-button button-pro-plus">
                      <i class="fa fa-grav" aria-hidden="true"></i> Professional Plus account
                    </button>
                  <% else %>
                    <button type="button" class="btn account-status-button button-free">
                      <i class="fa fa-snowflake-o" aria-hidden="true"></i> Free account
                    </button>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="account-upgrade-plan">
              <h4 class="upgrade-plan-title">Upgrade plan</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th class="tablecol-1"></th>
                    <th class="tablecol-2">Free</th>
                    <th class="tablecol-3">Professional</th>
                    <th class="tablecol-4">Professional Plus</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Event Limit</td>
                    <td>1</td>
                    <td>5</td>
                    <td>unlimited</td>
                  </tr>
                  <tr>
                    <td>Email Support</td>
                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>Live Chat</td>
                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td>Free</td>
                    <td>100$</td>
                    <td>200$</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <%= "Current" if current_user.acc_state == "free" %>
                    </td>
                    <td>
                      <%= "Current" if current_user.acc_state == "pro" %>
                      <% if current_user.acc_state == "free" %>
                        <button type="button" class="btn upgrade-account-button no-outline" data-toggle="modal" data-target="#upgradeProModal">
                          Upgrade Pro
                        </button>
                      <% end %>
                    </td>
                    <td>
                      <%= "Current" if current_user.acc_state == "plus" %>
                      <% unless current_user.acc_state == "plus" %>
                        <button type="button" class="btn upgrade-account-button no-outline" data-toggle="modal" data-target="#upgradeProPlusModal">
                          Upgrade Pro +
                        </button>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="payment-history">
              <h4 class="payment-history-title">Payment History</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th class="tablecol-1">Transaction ID</th>
                    <th class="tablecol-2">Amount</th>
                    <th class="tablecol-3">Width</th>
                    <th class="tablecol-4">Notice</th>
                    <th class="tablecol-5">Status</th>
                    <th class="tablecol-6">Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>#121324</td>
                    <td>100$</td>
                    <td>Paypal</td>
                    <td>Upgrade to Pro</td>
                    <td>Success</td>
                    <td>2017 Nov 29 10:11</td> <!-- time.strftime("%Y %b %d %H:%M") -->
                  </tr>
                  <tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @user == current_user %>
  <div class="modal fade zevent-modal" id="upgradeProModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close-modal no-outline" data-dismiss="modal">
          <%= image_tag "vendor/close.png" %>
        </button>
        <div class="modal-body">
          <h3 class="modal-title">Upgrade to Professional</h3>
          <div class="pay-with-block">
            <h5><span>pay with</span></h5>
            <div class="row">
              <div class="col-md-6 text-center">
                <%= link_to new_users_paypal_path(status: "pro"), class: 'pay-button' do %>
                  <%= image_tag "paypal-logo.png", class: "payment-logo" %>
                <% end %>
              </div>
              <div class="col-md-6 text-center">
                <%= link_to new_users_baokim_path(status: "pro"), class: 'pay-button' do %>
                  <%= image_tag "baokim-logo-3.jpeg", class: "payment-logo" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade zevent-modal" id="upgradeProPlusModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close-modal no-outline" data-dismiss="modal">
          <%= image_tag "vendor/close.png" %>
        </button>
        <div class="modal-body">
          <h3 class="modal-title">Upgrade to Professional Plus</h3>
          <div class="pay-with-block">
            <h5><span>pay with</span></h5>
            <div class="row">
              <div class="col-md-6 text-center">
                <%= link_to new_users_paypal_path(status: "pro_plus"), class: 'pay-button' do %>
                  <%= image_tag "paypal-logo.png", class: "payment-logo" %>
                <% end %>
              </div>
              <div class="col-md-6 text-center">
                <%= link_to new_users_baokim_path(status: "pro_plus"), class: 'pay-button' do %>
                  <%= image_tag "baokim-logo-3.jpeg", class: "payment-logo" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade zevent-modal" id="editUserAvatarModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close-modal no-outline" data-dismiss="modal">
          <%= image_tag "vendor/close.png" %>
        </button>
        <%= form_for(@user, url: upload_avatar_path(@user), :remote => true, authenticity_token: true, html: {:multipart => true }) do |f| %>
          <div class="modal-body">
            <h3 class="modal-title">Upload avatar</h3>
            <div class="text-center">
              <label id="user_avatar_label" class="cursor-pointer no-outline">
                <div id="preview_image"></div>
                <img src="<%= asset_url 'add-icon.png' %>" class="js--add-image add-image-default" >
                <%= f.file_field :avatar %>
              </label>
            </div>
            <div class="modal-control">
              <button type="button" class="btn no-outline btn-modal btn-cancel" data-dismiss="modal">Cancel</button>
              <button type="submit" id="formUploadButton" class="btn no-outline btn-modal btn-submit">
                Upload 
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal fade zevent-modal" id="editUserInformationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="close-modal no-outline" data-dismiss="modal">
          <%= image_tag "vendor/close.png" %>
        </button>
        <%= form_for(@user, url: update_information_path(@user), :remote => true, authenticity_token: true) do |f| %>
          <div class="modal-body">
            <h3 class="modal-title">Update your information</h3>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid form-label">
                  Username
                </div>
                <div class="table-child ver-mid">
                  <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder: "Username" %>
                  <div id="user_username_error" class="invalid-feedback text-black">( Between 6 and 20 characters for a username is acceptable )</div>
                </div>
                <script type="text/javascript">
                  $('#user_username').keyup( function () {
                    if (this.value.length >= 6 && this.value.length <= 20) {
                      $('#user_username').removeClass('is-invalid');
                      $('#user_username_error').addClass('text-black');
                      $.ajax({
                        url: '<%= check_username_ajax_path %>',
                        data: { 'username' : this.value },
                        type: 'post',
                        success: function(result){
                          if (result.is_valid) {
                            $('#user_username').removeClass('is-invalid');
                            $('#user_username').addClass('is-valid');
                            $('#user_username_error').text('( Between 6 and 20 characters for a username is acceptable )');
                          }else {
                            $('#user_username').removeClass('is-valid');
                            $('#user_username').addClass('is-invalid');
                            $('#user_username_error').removeClass('text-black');
                            $('#user_username_error').text('( This username is already in use )');
                          }
                        }}
                      );
                    }else {
                      $('#user_username').removeClass('is-valid');
                      $('#user_username').addClass('is-invalid');
                      $('#user_username_error').removeClass('text-black');
                      $('#user_username_error').text('( Between 6 and 20 characters for a username is acceptable )');
                    }
                  })
                </script>
              </div>
            </div>

            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid form-label">
                  Full Name
                </div>
                <div class="table-child ver-mid">
                  <%= f.text_field :name, class: 'form-control', placeholder: "Full Name" %>
                  <div class="invalid-feedback"></div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid form-label">
                  Gender
                </div>
                <div class="table-child ver-mid">
                  <%= f.select :gender, [["Male", "male"], ["Female", "female"]], { include_blank: 'Select Gender' }, class: "ui dropdown js--select-gender semantic-ui-form" %>
                  <script type="text/javascript">
                    $('.js--select-gender').dropdown();
                  </script>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid form-label">
                  Job
                </div>
                <div class="table-child ver-mid">
                  <%= f.select :job, @jobs, { :include_blank => "Select Job"}, { :multiple => true, :size => 2, :class => "ui fluid search dropdown js--select-job semantic-ui-form form-multipe" } %>
                  <script type="text/javascript">
                    $('.js--select-job').dropdown({
                      maxSelections: 2
                    });

                    <% if @user.job? && @user.job.split("|").length != 0 %>
                      <% @user.job.split("|").each do |job| %>
                        $('.js--select-job').dropdown('set selected', "<%= job %>");
                      <% end %>
                    <% end %>
                  </script>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid form-label">
                  Like
                </div>
                <div class="table-child ver-mid">
                  <%= f.select :hobby, @like_dislike_list, { :include_blank => "Select Hobbies"}, { :multiple => true, :size => 5, :class => "ui fluid search dropdown js--select-hobby semantic-ui-form form-multipe" } %>
                  <script type="text/javascript">
                    $('.js--select-hobby').dropdown({
                      maxSelections: 5
                    });

                    <% if @user.hobby? && @user.hobby.split("|").length != 0  %>
                      <% @user.hobby.split("|").each do |hobby| %>
                        $('.js--select-hobby').dropdown('set selected', "<%= hobby %>");
                      <% end %>
                    <% end %>
                  </script>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid form-label">
                  Dislike
                </div>
                <div class="table-child ver-mid">
                  <%= f.select :dislike, @like_dislike_list, { :include_blank => "Select Disklike"}, { :multiple => true, :size => 5, :class => "ui fluid search dropdown js--select-dislike semantic-ui-form form-multipe" } %>
                  <script type="text/javascript">
                    $('.js--select-dislike').dropdown({
                      maxSelections: 5
                    });

                    <% if @user.dislike? && @user.dislike.split("|").length != 0  %>
                      <% @user.dislike.split("|").each do |dislike| %>
                        $('.js--select-dislike').dropdown('set selected', "<%= dislike %>");
                      <% end %>
                    <% end %>
                  </script>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid form-label">
                  Date of birth
                </div>
                <div class="table-child ver-mid">
                  <%= f.text_field :dob, autofocus: true, class: 'form-control', placeholder: "Date of birth", :value => ( @user.dob.strftime("%d-%m-%Y") unless @user.dob.nil? ) %>
                  <div class="invalid-feedback"></div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid form-label">
                  Address
                </div>
                <div class="table-child ver-mid">
                  <div class="row margin-bottom-15">
                    <div class="col-md-6">
                      <%= f.select :address_province, @address_province_list.collect { |ap| [ ap['Ten_Tinh_Thanh_Pho'], ap['Ten_Tinh_Thanh_Pho'] ] }, { include_blank: 'Select your Province' }, class: "ui search dropdown js--select-address-province semantic-ui-form width-100" %>
                    </div>
                    <div class="col-md-6">
                      <%= f.select :address_district, @distric_list_of_province.collect { |ap| [ ap['Ten_Quan_Huyen'], ap['Ten_Quan_Huyen'] ] }, { include_blank: 'Select your District' }, class: "ui search dropdown js--select-address-district semantic-ui-form width-100" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <%= f.select :address_commune, @commune_list_of_province.collect { |ap| [ ap['Ten_Phuong_Xa'], ap['Ten_Phuong_Xa'] ] }, { include_blank: 'Select your Commune' }, class: "ui search dropdown js--select-address-commune semantic-ui-form width-100" %>
                    </div>
                  </div>
                  
                  <script type="text/javascript">
                    $('.js--select-address-province').dropdown();
                    $('.js--select-address-district').dropdown();
                    $('.js--select-address-commune').dropdown();
                  </script>

                  <script type="text/javascript">
                    $('#user_address_province').on('change', function() {
                      $.ajax({
                        url: '<%= get_district_ajax_path %>',
                        data: { 'province' : this.value },
                        type: 'post',
                        success: function(result){
                          $('#user_address_district').children('option:not(:first)').remove();
                          $('#user_address_commune').children('option:not(:first)').remove();
                          $('.js--select-address-district > .text').text('Select your District');
                          $('.js--select-address-commune > .text').text('Select your Commune');
                          $.each(result.distric_list, function(index, value) {
                            $('#user_address_district')
                              .append($("<option></option>")
                              .attr("value",value.Ten_Quan_Huyen)
                              .text(value.Ten_Quan_Huyen));
                          });
                        }}
                      );
                    })

                    $('#user_address_district').on('change', function() {
                      $.ajax({
                        url: '<%= get_commune_ajax_path %>',
                        data: { 'province' : $('#user_address_province').val(), 'district' : this.value },
                        type: 'post',
                        success: function(result){
                          $('#user_address_commune').children('option:not(:first)').remove();
                          $('.js--select-address-commune > .text').text('Select your Commune');
                          $.each(result.commune_list, function(index, value) {
                            $('#user_address_commune')
                              .append($("<option></option>")
                              .attr("value",value.Ten_Phuong_Xa)
                              .text(value.Ten_Phuong_Xa));
                          });
                        }}
                      );
                    })
                  </script>
                </div>
              </div>
            </div>
            <div class="modal-control">
              <button type="button" class="btn no-outline btn-modal btn-cancel" data-dismiss="modal">Cancel</button>
              <%= f.submit "Update Information", class: "btn no-outline btn-modal btn-submit" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#formUploadButton').click(function(event) {
    $('#editUserAvatarModal #formUploadButton .fa').addClass('fa-spinner');
    $('#editUserAvatarModal #formUploadButton .fa').addClass('fa-spin');
    $('#editUserAvatarModal #formUploadButton .fa').removeClass('fa-cloud-upload');
  });

  $("#user_avatar").on('change', function () {
    if (typeof (FileReader) != "undefined") {
      var image_holder = $("#preview_image");
      image_holder.empty();
      $('.js--add-image').hide();

      var reader = new FileReader();
      reader.onload = function (e) {
          $("<img />", {
              "src": e.target.result,
              "class": "js--add-image"
          }).appendTo(image_holder);
      }
      
      image_holder.show();
      reader.readAsDataURL($(this)[0].files[0]);
    } else {
      console.log("This browser does not support FileReader.");
    }
  });

  jQuery(document).ready(function ($) {
    $('#user_dob').datepicker({
      format: 'dd-mm-yyyy',
      startDate: '-100y',
      endDate: 'd',
      todayHighlight: true,
    });
  });
</script>
