<div class="modal fade" id="edit_event_modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @event, method: :put, url: users_event_path, id: "form1",
        remote: true do |f| %>
        <div class="modal-body">
          <%= f.label :event_name, class:"form-label" %>
          <%= f.text_field :name, class:"form-control" %>

          <%= f.label :website_name, class:"form-label" %>
          <%= f.text_field :title_layout, class:"form-control" %>

          <%= f.label :slug, class:"form-label" %>
          <%= f.text_field :slug, class:"form-control" %>

          <%= f.hidden_field :user_id, value: current_user.id, class:"form-control" %>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <%= f.label :start_date, class:"form-label", for:"regular1" %>
                <%= f.text_field :start_time, class:"form-control", type: "text",
                  id: "datepicker-start-edit" %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <%= f.label :end_date, class:"form-label", for:"regular1" %>
                <%= f.text_field :end_time, class:"form-control", type: "text",
                  id: "datepicker-end-edit" %>
              </div>
            </div>
          </div>

          <%= f.label :main_description, class:"form-label" %>
          <%= f.text_area :main_description, class:"form-control" %>

          <%= f.label :sub_description, class:"form-label" %>
          <%= f.text_area :sub_description, class:"form-control" %>

          <div class="row" style="margin: 5px 0;">
            <div class="col-sm-6">
              <%= f.label :layout, class:"form-label" %>
              <%= f.select :layout_id, Layout.all.collect { |l| [ l.title, l.id ] },
                class:"form-control" %>
            </div>

            <div class="col-sm-6">
              <%= f.label :event_type, class:"form-label" %>
              <%= f.select :event_type_id, EventType.all.collect { |e| [ e.label, e.id ] },
                class:"form-control" %>
            </div>
          </div>

          <%= f.label :address, class:"form-label" %>
          <%= f.text_field :address, class:"form-control" %>

          <%= f.label :scale, class:"form-label" %>
          <%= f.text_field :scale, class:"form-control" %>

          <div class="row">
            <div class="col-sm-6">
              <%= f.label :estimate_amount_people, class:"form-label" %>
              <%= f.number_field :est_amount_people, class:"form-control",  min: 0 %>
            </div>

            <div class="col-sm-6">
              <%= f.label :expense, class:"form-label" %>
              <%= f.number_field :expense, class:"form-control", min: 0 %>
            </div>
          </div>

          <%= f.label :seo_keyword, class:"form-label" %>
          <%= f.text_field :seo_keyword, class:"form-control" %>

          <div style="margin: 5px 0;">
            <%= f.label :use_google_form, class:"form-label" %>
            <%= f.check_box :use_form %> <br>
          </div>

          <%= f.label :google_form_link, class:"form-label" %>
          <%= f.text_field :google_form_url, class:"form-control" %>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Submit", class:"btn btn-primary",
            id: "btn-submit-edit-event-form" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
