<p>Name: <%= @event.name %></p>
<p>Slug: <%= @event.slug %></p>
<p>Time: <span id="event_start_time" data-time="<%= @event.start_time %>"><%= @event.start_time.strftime('%d/%m/%Y %H:%M') %></span>
  - <span id="event_end_time" data-time="<%= @event.end_time %>"><%= @event.end_time.strftime('%d/%m/%Y %H:%M') %></span></p>
<p>Username: <%= @event.user.username %></p>
<p>Layout: <%= @event.layout_id %></p>
<p>Main description: <%= @event.main_description %></p>
<p>Sub description: <%= @event.sub_description %></p>
<p>Event type: <%= @event.event_type_id %></p>
<p>Address: <%= @event.address %></p>
<p>Scale: <%= @event.scale %></p>
<p>Estimate amount people: <%= @event.est_amount_people %></p>
<p>Expense: <%= @event.expense %></p>
<p>Layout title: <%= @event.title_layout %></p>
<p>SEO Keyword<%= @event.seo_keyword %></p>
<p>Use form? <%= @event.use_form %></p>
<% if @event.use_form %>
  <p>Link: <%= @event.google_form_url %></p>
<% end %>
