jQuery(document).ready(function() {
  console.log('1');
$('#list-cost-log').html('<%= j render "users/events/manage_cost" %>');
  console.log('2');
$('#cost_manage_modal').modal('hide');
  console.log('3');
  <% flash.each do |key, value| %>
  new PNotify({
    text: '<%= value %>',
    addclass: 'notice-<%= key %>',
    animate: {
      animate: true,
      in_class: 'rotateInDownLeft',
      out_class: 'rotateOutUpRight'
    },
    icon: false
  });
  <% end %>
});
