<div class="user-wrapper">
  <div class="user-event-screen">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <h2 class="screen-title">Create New Event</h2>
          <%= form_for(@event, method: :post, url: users_events_path, html: {id: 'event-form'}) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  Event Name <span class="required-mark">（＊）</span>
                </div>
                <div class="table-child ver-mid">
                  <%= f.text_field :name, class:"form-control", required: true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  Website Title <span class="required-mark">（＊）</span>
                </div>
                <div class="table-child ver-mid">
                  <%= f.text_field :title_layout, class:"form-control", required: true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  Website URL <span class="required-mark">（＊）</span>
                </div>
                <div class="table-child ver-mid">
                  <div class="input-group">
                    <div class="input-group-addon">https://</div>
                    <%= f.text_field :slug, class:"form-control slug-input", required: true %>
                    <div class="input-group-addon">.zevent.date</div>
                  </div>
                  <div id="event_slug_error" class="invalid-feedback text-black">( Between 3 and 12 characters for a url is acceptable )</div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              $('#event_slug').keyup( function () {
                if (this.value.length >= 3 && this.value.length <= 12) {
                  $('#event_slug').removeClass('is-invalid');
                  $('#event_slug_error').addClass('text-black');
                  $.ajax({
                    url: '<%= check_event_slug_ajax_path %>',
                    data: { 'event_slug' : this.value },
                    type: 'post',
                    success: function(result){
                      if (result.is_valid) {
                        $('#event_slug').removeClass('is-invalid');
                        $('#event_slug').addClass('is-valid');
                        $('#event_slug_error').text('( Between 3 and 12 characters for a url is acceptable )');
                      }else {
                        $('#event_slug').removeClass('is-valid');
                        $('#event_slug').addClass('is-invalid');
                        $('#event_slug_error').removeClass('text-black');
                        $('#event_slug_error').text('( This url is already in use )');
                      }
                    }}
                  );
                }else {
                  $('#event_slug').removeClass('is-valid');
                  $('#event_slug').addClass('is-invalid');
                  $('#event_slug_error').removeClass('text-black');
                  $('#event_slug_error').text('( Between 3 and 12 characters for a url is acceptable )');
                }
              })
            </script>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  Layout <span class="required-mark">（＊）</span>
                </div>
                <div class="table-child ver-mid">
                  <%= f.select :layout_id, @layouts.collect { |layout| [ layout.title, layout.id ] }, { include_blank: 'Select Event Layout' }, class:"ui dropdown js--select-layout semantic-ui-form" %>
                  <script type="text/javascript">
                    $('.js--select-layout').dropdown();
                  </script>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  Event Type 
                </div>
                <div class="table-child ver-mid">
                  <%= f.select :event_type_id, @event_types.collect { |type| [ type.label, type.id ] }, { include_blank: 'Select Event Type' }, class:"ui dropdown js--select-event-type semantic-ui-form" %>

                  <script type="text/javascript">
                    $('.js--select-event-type').dropdown();
                  </script>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <div class="table-panel">
                    <div class="table-child ver-mid">
                      Start time <span class="required-mark">（＊）</span>
                    </div>
                    <div class="table-child ver-mid">
                      <%= f.text_field :start_time, class:"form-control js--event-start-time", required: true %>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="table-panel">
                    <div class="table-child ver-mid">
                      End time <span class="required-mark">（＊）</span>
                    </div>
                    <div class="table-child ver-mid">
                      <%= f.text_field :end_time, class:"form-control js--event-end-time", required: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <div class="table-panel">
                    <div class="table-child ver-mid">
                      Event expense <span class="required-mark">（＊）</span>
                    </div>
                    <div class="table-child ver-mid">
                      <div class="input-group">
                        <%= f.number_field :expense, class:"form-control", min: 0, required: true %>
                        <div class="input-group-addon">$ USD</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="table-panel">
                    <div class="table-child ver-mid">
                      Amount People 
                    </div>
                    <div class="table-child ver-mid">
                      <div class="input-group">
                        <%= f.number_field :est_amount_people, class:"form-control",  min: 0 %>
                        <div class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-top">
                  Event Address <span class="required-mark">（＊）</span>
                </div>
                <div class="table-child ver-mid">
                  <div class="form-group">
                    <%= f.select :address_province, @address_province_list.collect { |ap| [ ap['Ten_Tinh_Thanh_Pho'], ap['Ten_Tinh_Thanh_Pho'] ] }, { include_blank: 'Select Province of Event address' }, class: "ui search dropdown js--select-address-province semantic-ui-form width-100" %>
                  </div>
                  <div class="form-group">
                    <%= f.select :address_district, @distric_list_of_province.collect { |ap| [ ap['Ten_Quan_Huyen'], ap['Ten_Quan_Huyen'] ] }, { include_blank: 'Select District of Event address' }, class: "ui search dropdown js--select-address-district semantic-ui-form width-100" %>
                  </div>
                  <div class="form-group">
                    <%= f.select :address_commune, @commune_list_of_province.collect { |ap| [ ap['Ten_Phuong_Xa'], ap['Ten_Phuong_Xa'] ] }, { include_blank: 'Select Commune of Event address' }, class: "ui search dropdown js--select-address-commune semantic-ui-form width-100" %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :address, class:"form-control", required: true, placeholder: "Ex: P1912 CT3 Ecogreen 268 Nguyen Xien ..." %>
                  </div>

                  <script type="text/javascript">
                    $('.js--select-address-province').dropdown();
                    $('.js--select-address-district').dropdown();
                    $('.js--select-address-commune').dropdown();
                  </script>

                  <script type="text/javascript">
                    $('#event_address_province').on('change', function() {
                      $.ajax({
                        url: '<%= get_district_ajax_path %>',
                        data: { 'province' : this.value },
                        type: 'post',
                        success: function(result){
                          $('#event_address_district').children('option:not(:first)').remove();
                          $('#event_address_commune').children('option:not(:first)').remove();
                          $('.js--select-address-district > .text').text('Select your District');
                          $('.js--select-address-commune > .text').text('Select your Commune');
                          $.each(result.distric_list, function(index, value) {
                            $('#event_address_district')
                              .append($("<option></option>")
                              .attr("value",value.Ten_Quan_Huyen)
                              .text(value.Ten_Quan_Huyen));
                          });
                        }}
                      );
                    })

                    $('#event_address_district').on('change', function() {
                      $.ajax({
                        url: '<%= get_commune_ajax_path %>',
                        data: { 'province' : $('#event_address_province').val(), 'district' : this.value },
                        type: 'post',
                        success: function(result){
                          $('#event_address_commune').children('option:not(:first)').remove();
                          $('.js--select-address-commune > .text').text('Select your Commune');
                          $.each(result.commune_list, function(index, value) {
                            $('#event_address_commune')
                              .append($("<option></option>")
                              .attr("value",value.Ten_Phuong_Xa)
                              .text(value.Ten_Phuong_Xa));
                          });
                        }}
                      );
                    })
                  </script>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  Google Form URL
                </div>
                <div class="table-child ver-mid">
                  <%= f.text_field :google_form_url, class:"form-control" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  SEO Keyword <span class="required-mark">（＊）</span>
                </div>
                <div class="table-child ver-mid">
                  <%= f.text_area :seo_keyword, rows: 3, class:"form-control", required: true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  Main Description <span class="required-mark">（＊）</span>
                </div>
                <div class="table-child ver-mid">
                  <%= f.text_area :main_description, rows: 6, class:"form-control", required: true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  Sub Description
                </div>
                <div class="table-child ver-mid">
                  <%= f.text_area :sub_description, rows: 6, class:"form-control" %>
                </div>
              </div>
            </div>

            <div class="form-group submit-group text-right">
              <button type="submit" class="btn event-form-submit-button">
                Create Event
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.js--event-start-time').datetimepicker({
    format: 'DD-MM-YYYY HH:mm',
    minDate: new Date(),
    sideBySide: true,
  });

  $('.js--event-end-time').datetimepicker({
    format: 'DD-MM-YYYY HH:mm',
    minDate: new Date(),
    sideBySide: true,
    useCurrent: false
  });

  $(".js--event-start-time").on("dp.change", function(e) {
    $('.js--event-end-time').data("DateTimePicker").minDate(e.date);
  });
  $(".js--event-end-time").on("dp.change", function(e) {
    $('.js--event-start-time').data("DateTimePicker").maxDate(e.date);
  });
</script>
