$('#edit_event_modal').modal('hide');
$('#event-detail-info').html('<%= j render "users/events/event_info" %>');
jQuery(document).ready(function() {
  <% flash.each do |key, value| %>
  new PNotify({
    text: '<%= value %>',
    addclass: 'notice-<%= key %>',
    animate: {
      animate: true,
      in_class: 'rotateInDownLeft',
      out_class: 'rotateOutUpRight'
    },
    icon: false
  });
  <% end %>
});
