@import 'dashboard';
@import '../pnotify.min';
@import '../pnotify-style';
@import '../bootstrap-datetimepicker';

@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Open+Sans:300i,400,600,700');

* {
  font-family: 'Open Sans', sans-serif;
}

.pre-loader{
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: asset-url('pre-loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.user-main-nav {
  background-color: rgba(65, 91, 144, 0.85);
  color: #ffffff;

  .navbar-header {
    .navbar-brand {
      height: 65px;
      line-height: 35px;
      font-size: 30px;
      color: #ffffff;
      font-family: 'Cabin Sketch', cursive;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .main-menu {
    .nav-item {
      padding: 0px;

      &:hover {
        background-color: transparent;
      }

      a {
        padding: 15px 20px;
        line-height: 35px;
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 300;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.sub-footer {
  background-color: #415b90;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  padding: 9px 0px;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.user-wrapper {
  padding-top: 70px;
  min-height: calc(100vh - 40px);
}

.table-panel {
  display: table;
  width: 100%;

  .table-child {
    display: table-cell;

    &.ver-mid {
      vertical-align: middle;
    }
  }
}

.no-outline:active,
.no-outline:focus {
  outline: none !important;
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.user-wrapper.user-sign-page {
  background-image: asset-url('bg-home-2-80.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.switch--toggle {
  position: relative;
  display: block;
  width: 53px;
  height: 27px;
  margin-bottom: 0px;

  .switch--checkbox {
    display: none;
  }

  .switch--slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .6s;
    transition: .6s;

    &:before {
      position: absolute;
      content: "";
      height: 23px;
      width: 23px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  .switch--checkbox:checked + .switch--slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


  &.switch--theme-green {
    .switch--checkbox:checked + .switch--slider {
      background-color: #28a745;
    }

    .switch--checkbox:focus + .switch--slider {
      box-shadow: 0 0 1px #28a745;
    }
  }

  &.switch--rectangular {
    .switch--slider {
      border-radius: 3px;

      &:before {
        border-radius: 3px;
      }
    }
  }
}

.user-sign-screen {
  padding: 20px 0px 50px;

  .content-wrap-block {
    margin-top: 40px;
    text-align: center;

    .page-main-title {
      font-family: 'Cabin Sketch', cursive;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 40px;
      line-height: 45px;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 0px;
    }

    .page-note {
      color: #ffffff;
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 50px;
    }

    .btn-go-home {
      padding: 12px 25px;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 22px;
      line-height: 26px;
      border: 1px solid #ffffff;
      background-color: transparent;
      font-family: 'Cabin Sketch', cursive;
      margin-bottom: 20px;
      transition: all 0.5s;

      &:hover {
        background-color: rgba(255, 255, 255, 1);
        color: #333333;
      }

      .fa {
        margin-right: 10px;
      }
    }
  }

  .sign-form {
    margin-top: 40px;
    padding: 15px;

    .page-title {
      font-family: 'Cabin Sketch', cursive;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 35px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 0px;
    }

    .redirect-form {
      .btn-redirect {
        padding: 12px;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-family: 'Cabin Sketch', cursive;
        margin-bottom: 20px;
        transition: all 0.5s;

        &:hover {
          background-color: rgba(255, 255, 255, 1);
          color: #333333;
        }
      }
    }

    .user-account-form {
      .form-control {
        font-size: 18px;
        padding: 8px 12px;
        height: auto;
        line-height: 30px;
        background-color: transparent;
        color: #ffffff;
        border-color: #ffffff;

        &.is-valid {
          border-color: #28a745;
          color: #28a745;
        }

        &.is-invalid {
          border-color: #dc3545;
          color: #dc3545;
        }
      }

      .invalid-feedback {
        color: #dc3545;
        margin-top: 6px;
        font-size: 15px;
      }

      .sign-note-text {
        color: #ffffff;
        font-size: 15px;

        a {
          text-decoration: none;
        }
      }

      .sign-button {
        padding: 12px;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-family: 'Cabin Sketch', cursive;
        transition: all 0.5s;

        &:hover {
          background-color: rgba(255, 255, 255, 1);
          color: #333333;
        }
      }
    }

    .omi-authenticate {
      margin-top: 22px;
      padding-top: 15px;
      border-top: 1px solid #dddddd;

      .omi-title {
        color: #eeeeee;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
        font-family: 'Cabin Sketch', cursive;
        text-align: center;
      }

      .btn-omi {
        border: 0px;
        padding: 12px 20px;
        color: #ffffff;
        font-size: 18px;
        line-height: 22px;
        font-family: 'Cabin Sketch', cursive;

        .fa {
          margin-right: 15px;
        }

        &.btn-facebook {
          background-color: #3D5B94;
        }

        &.btn-google {
          background-color: #DD4B39;
        }
      }
    }
  }
}

.zevent-modal {
  .modal-content {
    margin-top: 150px;
    border-radius: 0px;
    position: relative;
    border: 0px;
    box-shadow: none;
  }

  .close-modal {
    border: 0px;
    background-color: transparent;
    padding: 10px;
    box-shadow: none;
    position: absolute;
    top: -50px;
    right: -50px;

    img {
      width: 30px;
    }
  }

  .modal-icon {
    padding: 20px;
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  .modal-wrap-content {
    text-align: left;
    margin-top: 70px;

    h3 {
      font-size: 26px;
      line-height: 30px;
      text-transform: uppercase;
      margin-bottom: 15px;
      margin-top: 0px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0px;
    }
  }
}

#troubleModal {
  .modal-body {
    padding: 30px 15px 40px;
  }

  .modal-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0px;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
  }

  .btn-redirect {
    padding: 12px 25px;
    color: #000000;
    font-size: 22px;
    line-height: 26px;
    border: 1px solid #000000;
    background-color: transparent;
    font-family: 'Cabin Sketch', cursive;
    transition: all 0.5s;

    &:hover {
      background-color: rgba(0, 0, 0, 1);
      color: #ffffff;
    }
  }
}

.user-profile-screen {
  padding: 20px 0px 50px;

  .user-profile {
    padding: 12px;
    border: 1px solid #415b90;
    border-radius: 5px;
    position: relative;

    .link-edit-user-information {
      position: absolute;
      top: 12px;
      right: 12px;
      background-color: #415b90;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      text-align: center;

      .fa {
        color: #ffffff;
        line-height: 40px;
        font-size: 25px;
      }
    }

    .user-avatar {
      padding: 25px;
      width: 250px;
      margin: 0 auto;

      .edit-user-avatar {
        display: inline-block;
        position: relative;

        img {
          border-radius: 50%;
          max-width: 100%;
        }

        &:after {
          position: absolute;
          content: "\f083";
          font-family: FontAwesome;
          background-color: rgba(255, 255, 255, 0.55);
          color: #000000;
          border-radius: 0;
          width: 200px;
          height: 50px;
          display: block;
          left: 0px;
          bottom: 0px;
          text-align: center;
          font-size: 25px;
          padding-top: 11px;
          line-height: 30px;
        }
      }

      .img-user-avatar {
        max-width: 100%;
        border-radius: 50%;
      }
    }

    .user-information {
      .user-information-list {
        li {
          padding: 12px 10px;
          line-height: 20px;
          font-size: 16px;
          text-align: center;

          &.infor-line {
            border-bottom: 1px solid #415b90;
            text-align: left;
          }
        }

        .infor-last-child {
          border: 0px !important;
        }

        .infor-line .infor-label {
          width: 100px;
          font-weight: 600;
          font-family: 'Cabin Sketch', cursive;
        }

        .username {
          .user-name-link {
            text-decoration: none;
            font-size: 20px;
            line-height: 22px;
            color: #415b90;
          }
        }

        .name-or-email {
          font-size: 19px;
          text-transform: uppercase;
          font-weight: 600;
          color: #415b90;
          padding-top: 5px;
          padding-bottom: 5px;
        }

        .gender-icon {
          font-size: 30px;
          line-height: 30px;

          .fa-mars {
            color: #007bff;
          }

          .fa-venus {
            color: #dc3545;
          }
        }

        .setting-redirect {
          margin-top: 30px;

          .btn {
            padding: 12px 25px;
            color: #415b90;
            font-size: 22px;
            line-height: 26px;
            border: 1px solid #415b90;
            background-color: transparent;
            font-family: 'Cabin Sketch', cursive;
            transition: all 0.5s;

            &:hover {
              background-color: #415b90;
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .profile-container {
    .status-block {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #415b90;

      .status-label {
        width: 200px;
        font-size: 20px;
        line-height: 24px;
        font-family: 'Cabin Sketch', cursive;
        color: #415b90;
        font-weight: bold;
      }

      .account-status-button {
        padding: 10px 25px;
        color: #ffffff;
        font-size: 18px;
        line-height: 20px;
        font-family: 'Cabin Sketch', cursive;
        text-transform: uppercase;

        .fa {
          margin-right: 5px;
        }

        &.button-free {
          background-color: #DD4B39;
        }

        &.button-pro {
          background-color: #415b90;
        }

        &.button-pro-plus {
          background-color: #ffbf00;
        }
      }
    }

    .account-upgrade-plan {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #415b90;

      .upgrade-plan-title {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
        color: #415b90;
        margin-top: 0px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .table {
        text-align: center;

        .fa-times {
          color: #DD4B39;
        }

        .fa-check {
          color: #28a745;
        }

        .upgrade-account-button {
          padding: 8px 15px;
          background-color: #415b90;
          font-family: 'Cabin Sketch', cursive;
          font-size: 16px;
          line-height: 18px;
          color: #ffffff;
        }
      }

      .table {
        tr {
          td:first-child {
            text-align: left;
          }
        }

        td {
          font-size: 18px;
          line-height: 22px;
          padding: 15px;
          border-top-color: #415b90;
        }

        >thead>tr>th {
          border-bottom: 1px solid #415b90;
          font-size: 20px;
          line-height: 22px;
          font-family: 'Cabin Sketch', cursive;
          color: #415b90;
          padding-bottom: 20px;
        }
      }

      .tablecol-1 {

      }

      .tablecol-2 {
        width: 200px;
        text-align: center;
      }

      .tablecol-3 {
        width: 200px;
        text-align: center;
      }

      .tablecol-4 {
        width: 200px;
        text-align: center;
      }
    }

    .payment-history {
      .payment-history-title {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
        color: #415b90;
        margin-top: 0px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .table {
        text-align: center;
      }

      .table {
        tr {
          td:first-child, 
          th:first-child {
            text-align: left;
          }
        }

        td {
          font-size: 14px;
          line-height: 18px;
          padding: 15px 5px;
          border-top-color: #415b90;
        }

        >thead>tr>th {
          border-bottom: 1px solid #415b90;
          font-size: 16px;
          line-height: 18px;
          color: #415b90;
          padding: 15px 5px;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
}

.user-setting-page {
  margin-top: 35px;

  .user-page-header {
    margin-bottom: 30px;

    .user-page-title {
      font-family: 'Cabin Sketch', cursive;
      color: #415b90;
      text-transform: uppercase;
      font-size: 35px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  .user-page-body {
    .field-label {
      width: 200px;
      font-size: 20px;
      line-height: 24px;
      font-family: 'Cabin Sketch', cursive;
    }

    .form-control {
      font-size: 16px;
      padding: 10px 12px;
      height: auto;
      line-height: 22px;

      &.is-valid {
        border-color: #28a745;
        color: #28a745;
      }

      &.is-invalid {
        border-color: #dc3545;
        color: #dc3545;
      }
    }

    .invalid-feedback {
      color: #dc3545;
      margin-top: 6px;
    }

    .text-black {
      color: #000000;
    }

    .btn-submit {
      padding: 12px 20px;
      font-size: 20px;
      line-height: 24px;
      border: 1px solid #415b90;
      font-family: 'Cabin Sketch', cursive;
      background-color: #415b90;
      color: #ffffff;

      .fa {
        margin-left: 5px;
      }
    }

    .cancel-block {
      margin-top: 30px;
      text-align: center;

      .cancel-title {
        position: relative;
        
        span {
          font-family: 'Cabin Sketch', cursive;
          margin-top: 0px;
          margin-bottom: 20px;
          line-height: 26px;
          font-size: 24px;
          text-transform: uppercase;
          background-color: #ffffff;
          display: inline-block;
          padding: 0px 30px;
          color: #415b90;
          position: relative;
        }

        &::before {
          content: "";
          width: 100%;
          height: 0px;
          border-top: 2px solid #415b90;
          position: absolute;
          top: 12px;
          left: 0px;
        }
      }

      .btn-cancel-account {
        padding: 12px 20px;
        font-size: 20px;
        line-height: 24px;
        border: 1px solid #DD4B39;
        font-family: 'Cabin Sketch', cursive;
        background-color: #DD4B39;
        color: #ffffff;

        .fa {
          margin-left: 5px;
        }
      }
    }
  }
}

#editUserAvatarModal {
  .modal-body {
    padding: 30px 30px 40px;
  }

  .modal-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-transform: uppercase;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color: #415b90;
  }

  #user_avatar {
    display: none;
  }

  #user_avatar_label {
    text-align: center;

    img {
      height: 200px;
    }
  }

  .modal-control {
    margin-top: 30px;
    text-align: right;
  }

  .btn-modal {
    padding: 8px 20px;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #415b90;
    font-family: 'Cabin Sketch', cursive;
    margin-left: 10px;

    &.btn-cancel {
      color: #415b90;
      background-color: transparent;
    }

    &.btn-submit {
      background-color: #415b90;
      color: #ffffff;
    }

    .fa {
      margin-left: 5px;
    }
  }
}

#editUserInformationModal {
  .modal-body {
    padding: 30px 30px 40px;
  }

  .modal-content {
    margin-top: 100px;
  }

  .modal-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-transform: uppercase;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color: #415b90;
  }

  .edit_user {
    .form-label {
      width: 170px;
      font-size: 20px;
      line-height: 24px;
      font-family: 'Cabin Sketch', cursive;
    }

    .form-control {
      font-size: 18px;
      padding: 10px 12px;
      height: auto;
      line-height: 22px;

      &.is-valid {
        border-color: #28a745;
        color: #28a745;
      }

      &.is-invalid {
        border-color: #dc3545;
        color: #dc3545;
      }
    }

    #user_username {
      text-transform: lowercase;
    }

    .invalid-feedback {
      font-size: 16px;
      color: #dc3545;
      margin-top: 6px;

      &.text-black {
        color: rgba(0, 0, 0, 0.87) !important;
        display: block !important;
      }
    }
  }

  .semantic-ui-form {
    font-size: 18px;
    line-height: 27px;
    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    min-height: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #777777;

    &.width-100 {
      width: 100%;
    }

    .text {
      color: #555555;
    }

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.15)
    }

    &.selection.active {
      border-color: #80bdff;
    }

    &.selection.active.dropdown .menu {
      border-color: #80bdff;
    }

    &.dropdown .menu .selected.item {
      background-color: rgba(0, 0, 0, 0.06);
    }

    &.selection.dropdown .menu > .item {
      font-size: 18px;
      line-height: 27px;
      padding-top: 7px !important;
      padding-bottom: 7px !important;
      color: #555555;
      font-weight: 400;

      &:hover {
        background-color: rgba(0, 0, 0, 0.06);
      }
    }

    & .dropdown.icon {
      padding: 12px;
    }

    &.form-multipe .dropdown.icon {
      padding: 17px 12px;
    }

    .ui.label {
      color: #555555;
      font-weight: 400;

      &:hover {
        color: #555555;
      }
    }
  }

  .modal-control {
    margin-top: 30px;
    text-align: right;
  }

  .btn-modal {
    padding: 8px 20px;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #415b90;
    font-family: 'Cabin Sketch', cursive;
    margin-left: 10px;

    &.btn-cancel {
      color: #415b90;
      background-color: transparent;
    }

    &.btn-submit {
      background-color: #415b90;
      color: #ffffff;
    }

    .fa {
      margin-left: 5px;
    }
  }
}

#deleteAccountModal {
  .modal-body {
    padding: 30px 30px 20px;
  }

  .modal-content {
    margin-top: 150px;
  }

  .modal-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-transform: uppercase;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color: #415b90;
  }

  .modal-control {
    margin-top: 30px;
    text-align: center;
  }

  .btn-modal {
    padding: 8px 20px;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #415b90;
    font-family: 'Cabin Sketch', cursive;
    margin-left: 10px;

    &.btn-cancel {
      color: #415b90;
      background-color: transparent;
    }

    &.btn-submit {
      background-color: #415b90;
      color: #ffffff;
    }

    .fa {
      margin-left: 5px;
    }
  }
}

.datepicker {
  font-size: 16px;

  .datepicker-days {
    padding: 15px 10px;
  }
}

.datepicker td, 
.datepicker th {
  width: 34px;
  height: 25px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

#upgradeProModal,
#upgradeProPlusModal {
  .modal-body {
    padding: 30px 30px 20px;
  }

  .modal-content {
    margin-top: 150px;
  }

  .modal-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    margin-top: 0px;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color: #415b90;
    text-transform: uppercase;
  }

  .pay-with-block {
    padding-bottom: 20px;

    h5 {
      position: relative;
      text-align: center;

      span {
        font-size: 20px;
        line-height: 22px;
        padding: 10px 20px;
        display: inline-block;
        background-color: #ffffff;
        position: relative;
        z-index: 10;
        color: #415b90;
      }

      &:after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        border-bottom: 1px solid #415b90;
        top: 22px;
        left: 0px;
      }
    }
    .pay-button {
      display: inline-block;

      .payment-logo {
        height: 80px;
      }
    }
  }
}

#event-form {
  .table-panel {
    > .table-child:first-child {
      width: 200px;
      font-size: 18px;
      line-height: 22px;
      color: #415b90;
      font-family: 'Cabin Sketch', cursive;
      font-weight: 600;
    }

    .form-control,
    .input-group-addon {
      font-size: 18px;
      line-height: 22px;
      height: auto;
      padding: 10px 20px;
      border-color: #415b90;

      &.slug-input {
        text-transform: lowercase;

        &.is-valid {
          border-color: #28a745;
        }

        &.is-invalid {
          border-color: #dc3545;
        }
      }
    }


    .invalid-feedback {
      margin-top: 5px;
      font-size: 14px;
      line-height: 18px;
      color: #dc3545;

      &.text-black {
        color: rgba(0, 0, 0, 0.87);
      }
    }

    textarea.form-control {
      resize: none;
    }
  }

  .semantic-ui-form {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    min-height: auto;
    padding: 11px 20px;
    border-color: #415b90;

    &.ui.dropdown .menu {
      border-color: #415b90;

      .item {
        font-size: 18px;
        line-height: 20px;
        padding: 10px 20px;
      }
    }

    &.ui.dropdown:not(.button)>.default.text {
      color: rgba(125, 125, 125, 1);
    }
  }

  .submit-group {
    margin-top: 40px;

    .event-form-submit-button {
      font-size: 18px;
      line-height: 22px;
      padding: 12px 25px;
      font-family: 'Cabin Sketch', cursive;
      text-transform: uppercase;
      background-color: #415b90;
      color: #ffffff;
    }

    .event-form-delete-button {
      font-size: 18px;
      line-height: 22px;
      padding: 12px 25px;
      font-family: 'Cabin Sketch', cursive;
      text-transform: uppercase;
      background-color: #DD4B39;
      color: #ffffff;
    }
  }
}

.required-mark {
  color: #DD4B39;
}

.user-event-screen {
  padding: 20px 0px 50px;

  .screen-title {
    font-size: 26px;
    line-height: 30px;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #415b90;
    margin-bottom: 30px;
  }

}
